/*
Theme Name: T&F AmStat
Theme URI: http://journals.taylorandfrancis.com/amstat
Description: Child theme based on The Morning After by WooThemes
Author: Vincent Lizzi
Version: 1.0
Template: themorningafter
Tags: 
*/

@import url('../themorningafter/style.css');

ul.rss , 
div.archive_feed { display: none; }

#menu li span.asaWebsite { background: url(asa_20x16.png) no-repeat; }
#menu li span.asaJournals { background: url(tf_16x16.png) no-repeat; }

#topbanner .pagetitle, 
#topbanner_arch .pagetitle, 
#topbanner_single .pagetitle { 
	text-transform: none; 
}

